.App {
  font-size: 16px;
  font-family: 'SUN', sans-serif;
  line-height: 1.5em;
  color: #FFFFFF;
  background-color: #1E488C;
  -webkit-font-smoothing: antialiased;
}

.App__shell {
  width: 40%;
  max-width: 1190px;
  margin: 0 auto 20px;
  padding: 0 5px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
